<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header">Abhishek Behera</a>
                <div class="description">
                    <p>Ph.D. Researcher,<br> Department of Electrical Engineering,<br> Indian Institute of Technology, Bombay.</p>
                </div>
            </div>
        </div>
    </div>
</div>
